*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    max-width: 1200px;
    margin: 0 auto;

    &::after {
        @include clearfix;
    }
}

.clearfix::after{
    @include clearfix;
}

ul{
    list-style-type: none;
}

a{
    text-decoration: none;
    color: unset;
}
