*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    max-width: 1000px;
    margin: 0 auto;
    // border: 1px solid black;

    // &::after {
    //     @include clearfix;
    // }
}

// .clearfix::after{
//     @include clearfix;
// }

ul{
    list-style-type: none;
}

a{
    text-decoration: none;
    color: $brand_tertiary;
}

h1, h2, h3 h4, h5, p, span{
    color: $brand_secondary;
    font-size: $font_size;
    padding: ($spacing * 0.5) ($spacing * 0.2);
    font-family: $font_family;
}

h1{
    font-size: $font_size * 1.6;
}

p{
    font-size: $font_size * 1;
    padding: ($spacing * 0.5) ($spacing * 0.2);
    line-height: $spacing * 1.1;
}
