#header{

    padding: ($spacing * 0.6) ($spacing * 0.8);
    #upper-header{
        @include flex(row,space-between,center);
        .left{
            @include flex(row,flex-start,center);
            a{
                img{
                    width: 70px;

                }
            }
            span{
                font-size: $font_size * 1.6;
                padding: 0;
                margin: 0;
                padding-left: 2px;
                padding-bottom: $spacing * 0.4;
                color: rgba($brand_secondary,0.9);
                display: inline-block;
            }
        }
        .right{
            @include flex(row,flex-end,center);
            i{
                // margin-left: $spacing;
                padding: $spacing * 0.4;
                color: rgba($brand_secondary,0.8);
                font-size: $font-size * 2;
                border-radius: 50%;
                &:first-of-type{
                    padding:  ($spacing * 0.4) ($spacing * 0.5);
                    font-size: $font-size * 1.8;
                }
                &:hover{
                    background: rgba($brand_secondary,0.1);
                    cursor: pointer;
                }
            }
        }
    }
}
